[Unit]
Description=wopits Task server
After=mysqld.service

[Service]
Type=forking
Restart=always
User=wopits
# This group must be the same as the group of the wopits DocumentRoot "data/"
# directory.
Group=www-data
PIDFile=/var/www/wopits.domain.fr/app/services/run/server-task.pid
ExecStart=/var/www/wopits.domain.fr/app/services/task/server-task.php

[Install]
WantedBy=multi-user.target graphical.target
