:root {
  --menubar-bg-color: #c63fca;
  --menubar-text-shadow: #4d4d4d;
  --wall-th-bg-color: #fce9ff;
  --wall-border-color: #f4d5ff;
  --usercard-links-color: #a5a5a5;
  --modal-links-color: #ed71ff;
  --modal-theme-color-light: #fff;
  --modal-theme-color-dark: #555;
  --modal-1-theme-color: #fff;
  --modal-1-theme-bg-color: #ed71ff;
  --modal-2-theme-color: #fff;
  --modal-2-theme-bg-color: #b917af;
  --postit-selected-shadow-color: #c63fca;
  --input-focus-border-color: #ed71ff;
  --btn-primary-bg-color: #5ca0e4;
  --btn-primary-border-color: #4694e6;
  --btn-secondary-bg-color: #a044df;
  --btn-secondary-border-color: #b967df;
}
